*.iml
.gradle
.local
.build.gradle
Android
.idea
.DS_Store
local.properties
build/
app/build/
app/.cxx/
*.apk
*.aab
*.keystore
debug.keystore
.gradle/
build/
local.properties
*.jks
*.p12
*.pfx
*.p12
*.keystore
.iml
/.idea/
/caches
/workspace.xml